:root {
    --black: #000000;
    --white: #FFFFFF;
    --purple: #800080;
}

* {
    margin: 0;
}

*,*:focus,*:hover{
    outline:none;
}

.background-image {

    z-index: -99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    background-image: url(/www/assets/images/main-background-1.jpg);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation-menu {
    position: absolute;
    padding: 0;
    height: 0;
    top: 20px;
    z-index: 100;
    width: 100%;
    height: 70px;
    transition: all .5s;
    color: var(--white);
}

.container {
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.d-flex div {
    cursor: pointer;
}

a {
    /* overwrite bootstrap css */
    color: var(--white) !important;
    text-decoration: none !important;
}

.personal-profile {
    padding-top: 120px;
    color: var(--white);
}

.personal-profile img {
    width: 300px;
    height: 380px;
    border-radius: 10%;

    position: relative;
    display: block;
    margin: auto;
    top: 40px;
}

.personal-profile-info {
    top: 40px;
}

.personal-profile-contact-list dt {
    color: var(--white);
}

.personal-profile-contact-list dd {
    padding-left: 65px;
}

.personal-profile-contact-list dd a {
    color: var(--white);
}

.personal-profile-social a {
    color: var(--white);
    margin-right: 50px;
}

.center {
    justify-content: center;
}

section {
    min-width: 10vw;
    background-color: var(--white);
    max-width: 100vw;

    padding-top: 65px;
    padding-bottom: 60px;

    border-radius: 15px;
}

.section-title {
    font-size: 36px;
    line-height: 42px;
}

.button {
    background-color: #6d56c1;
    color: var(--white);
    font-size: large;
    text-decoration: none;
    border-radius: 10px;
}

hr {
    border: none !important;
    height: 119px !important;
    background-color: unset !important;
}

.resume-header {
    margin-bottom: 25px;
    font-size: 36px;
}

.resume-list-title {
    color: var(--bs-gray);
    font-size: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.resume-list-block::before {
    width: 12px;
    height: 12px;
    border: 2px solid #6d56c1;
    position: absolute;
    content: "";
    background-color: var(--white);
    left: 8px;
}

.resume-list-block {
    border-left: 2px solid #6d56c1;
    padding-left: 25px;
    padding-bottom: 30px;
}

.resume-list-block-title {
    padding-bottom: 5px;
    margin: 0;
    text-transform: uppercase;
    color: #6d56c1;
    font-size: 14px;
    line-height: 20px;
    font-family: monospace;
    font-weight: 700;
    padding-bottom: 5px;
}

.resume-list-block-year {
    font-family: Inconsolata,monospace;
    font-size: 14px;
    line-height: 20px;
    color: #999;
    padding-bottom: 10px;
    margin: 0;
}

.resume-list-block-name {
    margin: 0;
}

.spacer {
    height: 50px;
}

.skillset {
    justify-content: space-between;
}

.skillset-list-title {
    font-family: Roboto Mono,monospace;
    letter-spacing: 5px;
    font-weight: 700;
    color: grey;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.skillset-list-skill-value {
    float: right;
}

.skillset-list-progress {
    height: 6px;
    margin-bottom: 30px;
}

.skillset-list-progress-progresbar {
    background-color: #6d56c1;
}

.contacts {
    padding-left: 15% !important;
    padding-right: 15% !important;
    padding-top: 5%;
}

.contact-list-title {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 42px;
    font-family: Roboto Mono,monospace;
}

.space-between {
    justify-content: space-between;
}

.contact-list dt {
    float: left;
    color: var(--white);
}

.contact-list dd {
    padding-left: 65px;
}

.contact-list dd a {
    color: var(--white);
    text-decoration: none;
}


.contact-form form button {
    display: block;
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white);
    margin-left: 50%;
    width: 50%;
    cursor: pointer;
}

.contact-form-title {
    font-size: 1rem;
}

.contact-form form input {
    width: 100%;
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid #fff;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono,monospace;
    margin-bottom: 15px;
}

.contact-form form textarea {
    width: 100%;
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid #fff;
    padding: 10px;
    height: 115px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono,monospace;
}


.contact-form-social a {
    color: var(--white);
    margin-right: 20px;
    font-size: 30px;
}

footer p {
    color: var(--white);
    text-align: center;   
    margin: 10px auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--white);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--white);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--white);
}

@media screen and (max-width: 500px) {
    .navigation-menu div {
        flex-direction: column !important;
    }
    
    .personal-profile {
        margin-top: 150px !important;
        flex-direction: column;
    }

    .personal-profile img {
        display: none;
        width: 80%;
        height: auto;
    }
}
